name: Triple Bot 24/7

concurrency:
  group: bot-session
  cancel-in-progress: true

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-bots:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install aiogram requests supabase-py

      - name: Run All Bots
        run: |
          # Запускаем первого и второго в фоне
          python auth.py &
          python every.py &
          # ТРЕТИЙ (ОСНОВНОЙ) ЗАПУСКАЕМ БЕЗ '&'
          # Это заставит GitHub ждать его завершения
          python main.py
